@font-face {
  font-family: "CircularBook";
  src: local("CircularStd-Book"), url("./@common/assets/fonts/CircularStd-Book.otf") format("truetype");
}

@font-face {
  font-family: "CircularLight";
  src: local("CircularStd-Light"), url("./@common/assets/fonts/CircularStd-Light.otf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

:root {
  /* Typography */

  --font-bold: "CircularBook", Helvetica, Arial, sans-serif;
  --font-light: "CircularLight", Helvetica, Arial, sans-serif;

  --text-xs: 0.875rem;
  --text-sm: 1rem;
  --text-md: 1.5rem;
  --text-lg: 2.375rem;
  --text-xl: 3.5rem;

  /* Spacing */

  --spacing-xs: 0.75rem;
  --spacing-sm: 1rem;
  --spacing-md: 2.25rem;
  --spacing-lg: 3.5rem;
  --spacing-xl: 7rem;

  /* Grids and Layouts */

  --gap-xs: 0.75rem;
  --gap-sm: 1rem;
  --gap-md: 2.25rem;

  /* Colors */

  --color-primary: #195c56;

  --color-brand-light: #d7ffe4;
  --color-brand-bright: #5be695;
  --color-brand-subtle: #7aa899;
  --color-brand-dark: #0f342e;

  --color-light: #f4f2f0;
  --color-white: #fff;
  --color-dark: #1e1e1e;
  --color-gray: #7e7e7e;

  --color-success: #195c56;
  --color-info: #17a2b8;
  --color-warning: #ffc107;
  --color-danger: #dc3545;

  /* Border radius */
  --border-radius-xs: 0.25rem;
  --border-radius-sm: 1rem;
  --border-radius-md: 2.25rem;
  --border-radius-lg: 3.125rem;
  --border-radius-xl: 5rem;

  /* Buttons */

  --btn-font-size: 1rem;
  --btn-radius: var(--border-radius-lg);
  --btn-border: 1px solid var(--color-primary);

  /* Icons */

  --icon-sm: 1rem;
  --icon-md: 3rem;
  --icon-lg: 5rem;

  /* Breakpoints */

  --breakpoint-xs: 0;
  --breakpoint-sm: 540px;
  --breakpoint-md: 720px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1440px;

  /* Utils */
  --full-width: 100%;
  --full-height: 100%;

  /* Animations */

  --animation-duration: 500ms;
}

/* ----- Typography ----- */

body {
  font-size: var(--text-sm);
  font-family: var(--font-light);
  color: var(--color-dark);
}

h1,
h2,
h3,
h4 {
  color: var(--color-dark);
  font-family: var(--font-bold);
}

h1 {
  font-size: var(--text-xl);
}

h2 {
  font-size: var(--text-md);
}

h3 {
  font-size: var(--text-lg);
}

h4 {
  font-size: var(--text-md);
}

h5 {
  font-size: var(--text-sm);
}

.text--primary {
  color: var(--color-primary);
}

.text--bright {
  color: var(--color-brand-bright);
}

.text--bold {
  font-family: var(--font-bold);
}

.text--xs {
  font-size: var(--text-xs);
}

/* ----- Buttons ----- */

.btn {
  display: inline-flex;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  font-family: var(--font-bold);

  padding: var(--spacing-xs) var(--spacing-lg);
  border-radius: var(--btn-radius);
  font-size: var(--btn-font-size);
  color: var(--color-primary);
  border: var(--btn-border);
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--primary:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.btn--secondary {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-sm);
}

/* ----- Icons ----- */

.icon-sm {
  max-width: var(--icon-sm);
  max-height: var(--icon-sm);
}

.icon-md {
  max-width: var(--icon-md);
  max-height: var(--icon-md);
}

.icon-lg {
  max-width: var(--icon-lg);
  max-height: var(--icon-lg);
}

/* ----- Forms ----- */

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.field {
  width: 100%;
  min-height: var(--spacing-md);
  border-radius: var(--border-radius-xs);
  margin-top: var(--spacing-xs);
}

.form-validation {
  color: var(--color-danger);
  min-height: var(--spacing-sm);
  font-size: var(--text-xs);
}

.form-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-sm);
}

/* ----- Utils ----- */

.full-width {
  width: var(--full-width);
}

.full-height {
  width: var(--full-height);
}

.padding-md {
  padding: var(--spacing-md);
}