.panelGroup {
    padding: var(--spacing-sm) 0;
}

.panelContainer {
    margin-bottom: var(--spacing-sm);
    background-color: var(--color-white);
    padding: var(--spacing-sm);
    border-radius: var(--border-radius-sm);
}

.panelHeader {
    cursor: pointer;
    color: var(--color-gray);
}

.panelHeaderActive {
    color: var(--color-dark);
}

.panelContent {
    height: 0;
    overflow: hidden;
    transition: height 200ms ease-in-out;
}