.panelContainer {
    margin: var(--spacing-sm);
    margin-top: 0;
    background-color: var(--color-white);
    padding: var(--spacing-sm);
    border-radius: var(--border-radius-sm);
}

.panelHeader {
    cursor: pointer;
    color: var(--color-gray);
}

.panelHeaderActive {
    color: var(--color-dark);
}

.panelContent {
    height: 0;
    overflow: hidden;
    transition: height 200ms ease-in-out;
}