.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.field {
  width: 100%;
  min-height: var(--spacing-md);
  border-radius: var(--border-radius-xs);
  margin-top: var(--spacing-xs);
}

.validation-message {
  color: var(--color-danger);
  min-height: var(--spacing-sm);
  font-size: var(--text-xs);
}
